<footer class="footer">
    <div class="footer__container">

<section>

    <h2 class="footer__title"> Sobre </h2>
    <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nihil assumenda facere magni maxime odit reiciendis 
        eum repudiandae, doloribus necessitatibus. Provident officiis beatae recusandae accusantium amet nobis totam earum 
        distinctio!
    </p>
</section>
<address>
    <h2 class="footer__title"> Contato</h2>
    <ul>
        <li><a> <i class="fa-regular fa-envelope"></i></a> VenilsonGomes@Gmail.com</li>
        <li><a><i class="fa-solid fa-phone"></i></a>(62)9 9700-6260</li>
        <li><a><i class="fa-brands fa-whatsapp"></i></a>(62)9 9959-5959</li>
    </ul>
</address>

    </div>
    <section class="footer__copyright">
        &copy; Desenvolvido por VenilsonGomes | 2022
    </section>
</footer>